body {
    font-family: sans-serif;
    color: #303841;
    display: block;
    margin: 0 0 0 0;
    background-color: #EEEEEE;
}

section {
    width: 100%;
}

.navbar {
    border-bottom: 2px solid black;
    position: sticky;
    display: flex;

}

.nav-item-container {
    padding: 10px 10px 10px 10px;
    border-right: 1px solid black;
}

.nav-item {
    color: inherit;
    text-decoration: none;
}

.nav-link  {
    text-decoration: none;
}
.nav-link:hover {
    text-decoration: none;
}
.nav-link:active {
    text-decoration: none;
}

hr {
    width: 90%;
    height: 2px;
    border: none;
    box-shadow: 1px 1px lightgray;
    background-color: #FF5722;
}

.contact-links-div {
    max-width: 50%;
    margin: 0 auto 0 auto;
    text-align: center;
}

.contact-links-div img {
    display: inline-block;
    width: 30px;
}


footer {
    text-align: center;
    font-size: x-small;
}
